{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}


{% block 'top' %}
{% endblock %}




{% block content %}

    
            <div class="col-12 d-flex justify-content-center align-items-center mt-5">


                <div class="col-md-6 ">

                    <div class="text-center error-page mt-5 ">

                        <h1 class="error-text fw-bold mb-3 mt-5">{{alerta.tipo}}</h1>

                        <h4><i class="fa fa-thumbs-up text-danger mt-4"></i> Alerta Enviada </h4>


                        <div class="mt-4 ">

                            <h6 class="fs-4 text-white">Gracias {{alerta.miembro.nombre}}, (etc etc, lo que le quieras decir)</h6>
                            <a class="btn btn-success my-4 fs-3" href="#">Abrir Grupo<i class="fa-brands fa-whatsapp fs-2 ps-3"></i></a>
                        </div>
                        
                    </div>

                </div>

            </div>





{% endblock %}


{% block additional_js %}


{% endblock %}