{% load static %}
<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="dashboard_bar">
                        {% comment %} aqui preguntar si esta en el indice y ahi poner el logo largo {% endcomment %}
                         {{ page_title }}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>