{% load static  %}

<div class="dlabnav">
    

<div class="col-2">
    <a class="ps-4" href="{% url 'dashboard:index' %}">

        <img src="{% static 'dashboard/images/logoh.jpg' %}" class="img-fluid">
    </a>
</div>

    <div class="dlabnav-scroll">
        <div class="d-flex flex-row-reverse">
        <ul class="metismenu" id="menu">

          

            <li><a href="{% url 'dashboard:alertas' %}" class="" aria-expanded="false">
                    <i class="fa-solid fa-broadcast-tower"></i>
                    <span class="nav-text">Alertas de Alarma</span>
                 </a>
            </li>

            <li><a href="{% url 'dashboard:barrios' %}" class="" aria-expanded="false">
                <i class="fa-solid fa-house"></i>
                <span class="nav-text">Alarmas Vecinales</span>
                </a>
            </li>


            <li><a href="{% url 'dashboard:usuarios' %}" class="" aria-expanded="false">
                <i class="fa-solid fa-users"></i>                <span class="nav-text">Usuarios</span>
             </a>
            </li>

            <li><a href="{% url 'dashboard:users' %}" class="" aria-expanded="false">
                <i class="fa-solid fa-users-gear"></i>
                <span class="nav-text">Accesos</span>
             </a>
            </li>

            
            <li><a href="{% url 'dashboard:logout' %}" class="" aria-expanded="false">
                <i class="fa-solid fa-right-from-bracket"></i>                <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    </div>
</div>