{% load static custom_tags %}

<div class="dlabnav">
    <div class="dlabnav-scroll">
        <div class="d-flex flex-row-reverse">
        <ul class="metismenu" id="menu">


            <li><a href="{% url 'dashboard:alertas' %}" class="" aria-expanded="false">
                    <i class="fa-solid fa-broadcast-tower"></i>
                    <span class="nav-text">Alertas de Alarma</span>
                 </a>
            </li>

            <li><a href="{% url 'dashboard:barrios' %}" class="" aria-expanded="false">
                <i class="fa-solid fa-house"></i>
                <span class="nav-text">Alarmas Vecinales</span>
                </a>
            </li>

            <li><a href="{% url 'dashboard:logout' %}" class="" aria-expanded="false">
                <i class="fa-solid fa-right-from-bracket"></i>                <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    </div>
</div>