{% extends 'dashboard/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

{% endblock %}

{% block message %}
{% include 'dashboard/elements/alert.html' %}
{% endblock %}

{% block content %}

       <div class="row justify-content-center h-100 align-items-center">
          <div class="col-xl-12 col-lg-12">
             <div class="card">
                <div class="card-header">
                   <h4 class="card-title">New User Form</h4>
                </div>
                <div class="card-body">
                   <div class="basic-form">
                      <form  method="post">
                         {% csrf_token %}
                         <div class="row">


                        
                        <div class="row col-md-6">
                            
                            <div class="mb-3 col-md-12">
                              <label class="form-label">UserName {% if form.username.field.required %}<span class="text-danger">*</span> {% endif %}</label>
                              {{ form.username|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:username" }}
                              <div class="text-danger w-100 d-block mt-1">
                              {{ form.username.errors }}
                              </div>
                           </div>
                            <div class="mb-3 col-md-12">
                              <label class="form-label">Email {% if form.email.field.required %}<span class="text-danger">*</span> {% endif %}</label>
                              {{ form.email|attr:"type:email"|attr:"class:form-control"|attr:"placeholder:Email" }}
                              <div class="text-danger w-100 d-block mt-1">
                              {{ form.email.errors }}
                              </div>
                           </div>

                        </div>


                        <div class="col-md-6 col-md-6 m-auto">
                           <div class="form-check form-check-inline">
                              {{ form.is_active|attr:"class:form-check-input"|attr:"type:checkbox"|attr:"checked" }}
                              <label class="form-check-label">
                              is active
                              </label>
                           </div>
                        </div>




                            
                            

                        
                        <div class="row">
                              <div class="mb-3 col-md-4 custom-user">
                                 <label class="form-label">Permissions {% if form.groups.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                 {{ form.groups|attr:"class:multi-select form-control"|attr:"name:groups[]" }}
                                 <div class="text-danger w-100 d-block mt-1">
                                 {{ form.groups.errors }}
                                 </div>
                              </div>
                              

                              <!--Social link-->

                              
                        </div>




                          

                     {% if form.password1 %}
                            <div class="mb-3 col-md-6">
                              <label class="form-label">Password {% if form.password1.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                               <div class="input-group transparent-append">
                                  {% comment %} <span class="input-group-text"> <i class="fa fa-lock"></i> </span> {% endcomment %}
                                  
                                  {{ form.password1|attr:"class:form-control"|attr:"placeholder:Password"|attr:"id:dz-password"|attr:"type:password" }}
                                  <span class="input-group-text show-pass"> 
                                  <i class="fa fa-eye-slash"></i>
                                  <i class="fa fa-eye"></i>
                                  </span>
                                  <div class="text-danger w-100 d-block mt-1">
                                  {{ form.password1.errors }}
                                  </div>

                               </div>
                            </div>
                            <div class="mb-3 col-md-6">
                              <label class="form-label">Confirm Password {% if form.password2.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                               <div class="input-group transparent-append">
                                  {% comment %} <span class="input-group-text"> <i class="fa fa-lock"></i> </span> {% endcomment %}
                                  
                                  {{ form.password2|attr:"class:form-control"|attr:"placeholder:Confirm Password"|attr:"id:dz-con-password"|attr:"type:password" }}
                                  <span class="input-group-text show-con-pass"> 
                                  <i class="fa fa-eye-slash"></i>
                                  <i class="fa fa-eye"></i>
                                  </span>
                                  <div class="text-danger w-100 d-block mt-1">
                                  {{ form.password2.errors }}
                                  </div>
                               </div>
                            </div>
                            {% endif %}
                        </div>
                         <button type="submit" class="btn btn-secondary mt-4 mb-5 ">Save</button>
                         <a href="{% url 'dashboard:users' %}" class="btn btn-primary mt-4 mb-5">Cancel</a>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>



{% endblock %}


{% block additional_js %}




<script>
  
</script> 


<script>
   $(".multi-select").select2({
      placeholder: "Select the Role"
  });
</script>


{% endblock %}


