{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}

<!-- modal delete usuario -->
<div class="modal" id="deleteusuario{{usuario.id}}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center py-5">
                <h4 class="fs-2 my-2">Deleting {{usuario.get_nombre_completo}} permanently...</h4>
                <h4 class="fs-2 my-2">¿Are you sure?</h4>

                <div class="form-floating mt-5">
                    <a href="./" class="btn fs-7 mx-2">
                        <i class="fa-solid fa-arrow-left me-2 fs-7"></i> Nop, go back.
                    </a>
                    <a href="{% url 'dashboard:usuariodelete' pk=usuario.id %}" class="shadow-sm btn btn-danger fs-6 p-3">
                        <i class="fa-regular fa-trash-can fs-5 me-1"></i> Yes!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- MAIN -->


        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{usuario.casa.grupo_barrial}}</a></li>

                <li class="breadcrumb-item"><a href="#">{{usuario.casa.get_direccion}}</a></li>
                <li class="breadcrumb-item active"><a> {{usuario.nombre}} </a> </li>
            </ol>
        </div>
       
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{usuario.nombre}}</h4>
                        
                                              
                    </div>
                    <div class="card-body">

                        <div class="default-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#home"><i class="la la-user me-2"></i> INFORMACIÓN</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#contact"><i class="las la-comment-dollar me-2"></i>...</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="home" role="tabpanel">
                                    <div class="pt-4">
                                        <div class="basic-form">
                                            <form method="post">
                                                {% csrf_token %}
                                                    <div class="pt-1 pb-4">
                                                        <div class="formcontrol">         

                                                            <div class="form-floating mb-3">

                                                                
                                                                <input type="hidden" name="casa" value="{{ usuario.casa.id }}">
        
                                        <div class="form-group my-3">
                                            
                                        </div>
                                        <div class="form-group my-3">
                                        </div>
                                        <div class="form-group my-3">
                                        </div>

                                        <div class="form-group my-3">
                                        </div>


                                        <div class="form-group my-3">
                                        </div>
                                        
                                        
                                        <div class="form-group my-3">
                                                                    {{editform.nombre}}
                                                                </div>

                                                                <div class="form-group my-3">
                                                                    {{editform.apellido}}
                                                                </div>

                                                                <div class="form-group my-3">
                                                                    {{editform.telefono}}
                                                                </div>


                                                                <div class="form-group my-3">
                                                                    {{editform.genero}}
                                                                </div>



                                                                <div class="form-group my-3">
                                                                    
                                                                    {{editform.fecha_de_nacimiento}}
                                                                </div>
                                                                
                                                            </div>
                                                        </div>       
                
                                                        <div class="form-floating pt-4 my-3 d-flex flex-row-reverse">
                                                            <button type="submit" class="shadow-sm btn btn-secondary fs-3 " name="editusuario"><i class="fa-solid fa-check"></i> Save </button>
                                                            <a href="{% url 'dashboard:usuario' pk=usuario.pk %}" class="btn fs-7 mx-2">
                                                                <i class="fa-solid fa-arrow-left me-2 fs-7"></i> Cancel
                                                            </a>
                                                        </div>
                
                                                    </div>
                                            </form>
                                            <div class="form-floating pt-4 my-3 d-flex flex-row-reverse">
                                                
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteusuario{{usuario.id}}">Delete<span class="btn-icon-end">
                                                    <i class="fa-solid fa-trash fs-7"></i></span></button>
                                            </div>
                
                                           
                
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="contact">
                                    <div class="pt-4">
                                        {% if usuario.alarmas %}
                    
                                        <div>
                                            <div class="basic-list-group m-3">
                                                
                                                <ul class="list-group">
                                                    {% for sale in sales %}

                                                    <li class="list-group-item">
                                                        <a class="mb-4 d-flex flex-row-reverse"> {% if sale.cancelled == "Cancelled" %}
                                                            ( cancelled ) 
                                                            {% endif %} {{sale.date|date:"d/m/Y"}}</a>
                                                        <h4><a href="{% url 'dashboard:editsale' id=sale.id %}">{{sale.service}}  </a></h4> 
                                                        <p class="fs-4">{% if sale.status == "FC" %}
                                                            <span class="badge light badge-danger">
                                                                {{sale.status}}
                                                            </span> 
                                                        {% elif sale.status == "P" %}
                                                           <span class="badge light badge-success">
                                                                {{sale.status}}
                                                            </span> 
                                                        {% else %} 
                                                            <span class="badge light badge-warning">
                                                                {{sale.status|default_if_none:"?"}}
                                                            </span> 
                                                        {% endif %} ${{sale.get_change}} </p>
                                                        
                                                        {% if sale.note %}
                                                        <p> {{sale.note}} </p>
                                                        {% endif %}
                                                        <div class="form-floating pt-4 my-3 d-flex flex-row-reverse">
                                                        <a href="{% url 'dashboard:editsale' id=sale.id %}" class="btn btn-info mx-3">Change<span class="btn-icon-end">
                                                            <i class="fa-solid fa-pen-to-square"></i></span></a>
                                                    </div></li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                            
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>


                    

                    

                    
                </div>
                
            </div>
        </div>







{% endblock %}





{% block additional_js %}


<!-- NEWMODAL -->
<script>
    const deleteusuario = new bootstrap.Modal('#deleteusuario',   {keyboard: true}    )
</script>

{% endblock %}