{% extends 'dashboard/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}



<!-- MAIN USUARIOS -->
    
<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard:barrio' pk=vivienda.alarma_vecinal.id %}">{{vivienda.alarma_vecinal}}</a></li>

        <li class="breadcrumb-item active"><a>{{vivienda.get_direccion}}</a></li>
    </ol>
</div>

    <div class="row">

        
        <div class="col-xl-12">            
            <div class="card students-list">

                <div class="d-flex flex-row px-xs-1 px-4 py-5">
                    <button type="button" class="btn btn-success fs-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-plus pe-2"></i> Usuario</button>

                            <a class="btn btn-warning mx-3 fs-4" href="{% url 'dashboard:viviendaedit' pk=vivienda.id %}">Editar Vivienda</a>
                </div>       
                
                 


                <!-- TABLE USUARIOS -->
                <div class="card-body py-0">
                            <div class="table-responsive">
                                <table id="example4" style="min-width: 845px">
                                    <thead>
                                        <tr>
                                            <th>NOMBRE</th>
                                            <th>APELLIDO</th>
                                            <th>EDAD</th>
                                            <th>H/M</th>

                                            <th>ALARMAS ESTE MES</th>
                                            <th>ALARMAS ESTE AÑO</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for usuario in usuarios %}
                                        <tr>

                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a class="mb-0 fs-16 font-w500" href="{% url 'dashboard:usuario' pk=usuario.pk %}">{{usuario.nombre}}</a>
                                                </div>
                                            </td>
                                            <td>{{usuario.apellido}}</td>
                                            <td>{{usuario.get_edad}}</td>
                                            <td>{{usuario.genero}}</td>

                                            <td>0</td>
                                            <td>0</td>
                                            <td>
                                                <div class="d-flex flex-row">
                                                    
                                                        <!-- delete BUTTON -->
                                                            <button type="button" class="shadow-sm btn btn-danger px-3 mx-1" data-bs-toggle="modal" data-bs-target="#deleteusuario{{usuario.id}}">
                                                            <i class="fa-solid fa-trash fs-7"></i>
                                                            </button>                                                                                  
                                                        <!-- edit BUTTON -->
                                                            <a href="{% url 'dashboard:usuario' pk=usuario.pk %}" class="px-3 shadow-sm btn btn-secondary mx-1">
                                                                <i class="fa-solid fa-pen-to-square "></i>
                                                            </a>                                                
                                                </div>                                        
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>

                              
                            </div>

                </div>

            </div>
        </div>
    </div>
<!-- end MAIN usuarios -->


<!-- modals delete usuarios -->
    {% for usuario in usuarios %}
        <div class="modal" id="deleteusuario{{usuario.id}}">
            {% include 'dashboard/sistema/barrios/deleteusuario.html' %}
        </div>
    {% endfor %}


<!-- START modal add usuario -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>           
                <form  method="post">
                    {% csrf_token %}
                        <div class="modal-body">
                            <div class="pt-1 pb-4">
                                <div class="formcontrol">                                         
                                    <div class="form-floating mb-3">
                                        <input type="hidden" name="vivienda" value="{{ vivienda.id }}">
        
                                        <div class="form-group my-3">
                                            
                                            {{addform.nombre}}
                                        </div>
                                        <div class="form-group my-3">
                                            {{addform.apellido}}
                                        </div>
                                        <div class="form-group my-3">
                                            {{addform.telefono}}
                                        </div>

                                        <div class="form-group my-3">
                                            {{addform.genero}}
                                        </div>


                                        <div class="form-group my-3">
                                            {{addform.fecha_de_nacimiento}}
                                        </div>

                                    </div>
                                </div>       
        
                                
                            </div>
                            <div class="form-floating my-3 text-center">
                                <button type="submit" class="shadow-sm btn btn-secondary" name="addnew"><i class="fa-solid fa-check me-2"></i> Submit</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
<!-- END modal add usuario -->
{% endblock %}


{% block additional_js %}
    <!-- NEWMODAL -->
        <script>
            const deleteusuario = new bootstrap.Modal('#deleteusuario',   {keyboard: true}    )
        </script>

    <!-- charts -->
    <script src="{% static 'dashboard/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'dashboard/vendor/echarts/echarts.min.js' %}"></script>

   

    

{% endblock %}